defaults/flow.json
[{"id":"a80da719.067f8","type":"inject","z":"e0d8860d.c57868","name":"","topic":"","payload":"Get insta. data","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.5,"y":58,"wires":[["bdca5031.0b3988"]]},{"id":"bdca5031.0b3988","type":"instagram-data","z":"e0d8860d.c57868","name":"Get instagram data","x":193.5,"y":120,"wires":[["9b8dde01.050a7"]]},{"id":"9b8dde01.050a7","type":"json","z":"e0d8860d.c57868","name":"","x":193.5,"y":279,"wires":[["5ac15534.05e904","56d4b250.e5864c","6811de1f.65ff18","45b3c973.530bc8","8f39b3d7.8f7d88"]]},{"id":"5ac15534.05e904","type":"function","z":"e0d8860d.c57868","name":"Extract URL 0","func":"//var text = \"https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14072799_573217086193913_2108094115_n.jpg\";\nvar text = msg.payload[0].image_url;\nvar index = text.indexOf(\"?\");\nmsg.payload = text.substring(0,index);\nreturn msg;","outputs":1,"noerr":0,"x":397.5,"y":190,"wires":[["cb46edb2.14b548"]]},{"id":"cb46edb2.14b548","type":"visual-recognition-v3","z":"e0d8860d.c57868","name":"Image 0","apikey":"","image-feature":"classifyImage","lang":"en","x":559.5,"y":191,"wires":[["4b9b0891.3aab78"]]},{"id":"4b9b0891.3aab78","type":"function","z":"e0d8860d.c57868","name":"Extract Class for image 0","func":"global.set(\"class_image_0a\",\" \");\nglobal.set(\"class_image_0b\",\" \");\nglobal.set(\"image0\", msg.result.images[0].resolved_url);\nglobal.set(\"class_image_0a\",msg.result.images[0].classifiers[0].classes[0].class);\nif(msg.result.images[0].classifiers[0].classes.length > 1)\n    global.set(\"class_image_0b\",\", \"+ msg.result.images[0].classifiers[0].classes[1].class);\n","outputs":1,"noerr":0,"x":770.5,"y":190,"wires":[[]]},{"id":"56d4b250.e5864c","type":"function","z":"e0d8860d.c57868","name":"Extract URL 1","func":"//var text = \"https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14072799_573217086193913_2108094115_n.jpg\";\nvar text = msg.payload[1].image_url;\nvar index = text.indexOf(\"?\");\nmsg.payload = text.substring(0,index);\nreturn msg;","outputs":1,"noerr":0,"x":399.5,"y":239,"wires":[["77e0727.c94ec0c"]]},{"id":"77e0727.c94ec0c","type":"visual-recognition-v3","z":"e0d8860d.c57868","name":"Image 1","apikey":"05c0aa40d49bfe7f2a27bed3a4f9bb60d94a7243","image-feature":"classifyImage","lang":"en","x":567.5,"y":239,"wires":[["99e82a41.1abd4"]]},{"id":"99e82a41.1abd4","type":"function","z":"e0d8860d.c57868","name":"Extract class for image 1","func":"global.set(\"class_image_1a\",\" \");\nglobal.set(\"class_image_1b\",\" \");\nglobal.set(\"image1\", msg.result.images[0].resolved_url);\nglobal.set(\"class_image_1a\",msg.result.images[0].classifiers[0].classes[0].class);\nif(msg.result.images[0].classifiers[0].classes.length > 1)\n    global.set(\"class_image_1b\",\", \"+msg.result.images[0].classifiers[0].classes[1].class);\n    \n","outputs":1,"noerr":0,"x":770.5,"y":238,"wires":[[]]},{"id":"6811de1f.65ff18","type":"function","z":"e0d8860d.c57868","name":"Extract URL 2","func":"var text = msg.payload[2].image_url;\nvar index = text.indexOf(\"?\");\nmsg.payload = text.substring(0,index);\nreturn msg;","outputs":1,"noerr":0,"x":400.5,"y":288,"wires":[["faf6cc5c.1fd858"]]},{"id":"faf6cc5c.1fd858","type":"visual-recognition-v3","z":"e0d8860d.c57868","name":"Image 2","apikey":"05c0aa40d49bfe7f2a27bed3a4f9bb60d94a7243","image-feature":"classifyImage","lang":"en","x":567.5,"y":287,"wires":[["743a594a.e806b8"]]},{"id":"743a594a.e806b8","type":"function","z":"e0d8860d.c57868","name":"Extract class for image 2","func":"global.set(\"class_image_2a\",\" \");\nglobal.set(\"class_image_2b\",\" \");\nglobal.set(\"image2\", msg.result.images[0].resolved_url)\nglobal.set(\"class_image_2a\",msg.result.images[0].classifiers[0].classes[0].class);\nif(msg.result.images[0].classifiers[0].classes.length > 1)\n    global.set(\"class_image_2b\",\", \"+msg.result.images[0].classifiers[0].classes[1].class);","outputs":1,"noerr":0,"x":773.5,"y":287,"wires":[[]]},{"id":"45b3c973.530bc8","type":"function","z":"e0d8860d.c57868","name":"Extract URL 3","func":"var text = msg.payload[3].image_url;\nvar index = text.indexOf(\"?\");\nmsg.payload = text.substring(0,index);\nreturn msg;","outputs":1,"noerr":0,"x":403.5,"y":336,"wires":[["6dc9fb69.e6ae34"]]},{"id":"6dc9fb69.e6ae34","type":"visual-recognition-v3","z":"e0d8860d.c57868","name":"Image 3","apikey":"05c0aa40d49bfe7f2a27bed3a4f9bb60d94a7243","image-feature":"classifyImage","lang":"en","x":571.5,"y":336,"wires":[["5105768e.f103f8"]]},{"id":"5105768e.f103f8","type":"function","z":"e0d8860d.c57868","name":"Extract class for image 3","func":"global.set(\"class_image_3a\",\" \");\nglobal.set(\"class_image_3b\",\" \");\nglobal.set(\"image3\", msg.result.images[0].resolved_url);\nglobal.set(\"class_image_3a\",msg.result.images[0].classifiers[0].classes[0].class);\nif(msg.result.images[0].classifiers[0].classes.length > 1)\n    global.set(\"class_image_3b\",\", \"+msg.result.images[0].classifiers[0].classes[1].class);","outputs":1,"noerr":0,"x":776.5,"y":336,"wires":[[]]},{"id":"8f39b3d7.8f7d88","type":"function","z":"e0d8860d.c57868","name":"Extract URL 4","func":"var text = msg.payload[4].image_url;\nvar index = text.indexOf(\"?\");\nmsg.payload = text.substring(0,index);\nreturn msg;","outputs":1,"noerr":0,"x":403.5,"y":387,"wires":[["63c2bae.42e38c4"]]},{"id":"63c2bae.42e38c4","type":"visual-recognition-v3","z":"e0d8860d.c57868","name":"Image 4","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":570.5,"y":389,"wires":[["9561b746.05a89"]]},{"id":"9561b746.05a89","type":"function","z":"e0d8860d.c57868","name":"Extract class for image 4","func":"global.set(\"class_image_4a\",\" \");\nglobal.set(\"class_image_4b\",\" \");\nglobal.set(\"image4\", msg.result.images[0].resolved_url);\nglobal.set(\"class_image_4a\",msg.result.images[0].classifiers[0].classes[0].class);\nif(msg.result.images[0].classifiers[0].classes.length > 1)\n    global.set(\"class_image_4b\",\", \"+msg.result.images[0].classifiers[0].classes[1].class);","outputs":1,"noerr":0,"x":778.5,"y":388,"wires":[[]]},{"id":"26f2313.61425ce","type":"http in","z":"e0d8860d.c57868","name":"See Images in HTML","url":"/see_type","method":"get","swaggerDoc":"","x":136.5,"y":437,"wires":[["f8471833.17e658"]]},{"id":"f8471833.17e658","type":"function","z":"e0d8860d.c57868","name":"Extract image type ","func":"msg.payload={type_0a: global.get(\"class_image_0a\"),\n             type_0b: global.get(\"class_image_0b\"), \n             type_1a: global.get(\"class_image_1a\"),\n             type_1b: global.get(\"class_image_1b\"),\n             type_2a: global.get(\"class_image_2a\"),\n             type_2b: global.get(\"class_image_2b\"),\n             type_3a: global.get(\"class_image_3a\"),\n             type_3b: global.get(\"class_image_3b\"),\n             type_4a: global.get(\"class_image_4a\"),\n             type_4b: global.get(\"class_image_4b\"),\n             image0: global.get(\"image0\"),\n             image1: global.get(\"image1\"),\n             image2: global.get(\"image2\"),\n             image3: global.get(\"image3\"),\n             image4: global.get(\"image4\")};\nreturn msg;","outputs":1,"noerr":0,"x":358.5,"y":439,"wires":[["5c91824c.8ab65c"]]},{"id":"5c91824c.8ab65c","type":"template","z":"e0d8860d.c57868","name":"HTML Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <h3> Instagram Image Description </h3>\n        <title> Instagram Image Description </title>\n        <h4> Watson Visual Recognition classifies images in your instagram account </h4>\n        <style type=\"text/css\">\n            h3 {color:red;}\n            p {color: black;}\n            span.device_values {color:green; font-weight: bold;}\n        </style>\n    </head>\n    <body>\n        <table>\n            <col width=\"60%\">\n            <col width=\"40%\">\n            <tr>\n                <th> Image </th>\n                <th> Classification </th>\n            </tr>\n            <tr>\n                <td><img src={{payload.image0}} alt=\"HTML5 Icon\" style=\"width:128px;height:128px;\"> </td>\n                <td> <span class=\"device_values\"> {{payload.type_0a}} {{payload.type_0b}} </span> </td>\n            </tr>\n            <tr>\n                <td><img src={{payload.image1}} alt=\"HTML5 Icon\" style=\"width:128px;height:128px;\"> </td>\n                <td> <span class=\"device_values\"> {{payload.type_1a}} {{payload.type_1b}} </span> </td>\n            </tr>\n            <tr>\n                <td><img src={{payload.image2}} alt=\"HTML5 Icon\" style=\"width:128px;height:128px;\"> </td>\n                <td> <span class=\"device_values\"> {{payload.type_2a}} {{payload.type_2b}} </span> </td>\n            </tr>\n            <tr>\n                <td><img src={{payload.image3}} alt=\"HTML5 Icon\" style=\"width:128px;height:128px;\"> </td>\n                <td> <span class=\"device_values\"> {{payload.type_3a}} {{payload.type_3b}} </span> </td>\n            </tr>\n            <tr>\n                <td><img src={{payload.image4}} alt=\"HTML5 Icon\" style=\"width:128px;height:128px;\"> </td>\n                <td> <span class=\"device_values\"> {{payload.type_4a}} {{payload.type_4b}} </span> </td>\n            </tr>\n            \n        </table>\n    </body>\n</html>","x":562.5,"y":443,"wires":[["7fac1c9c.22ce3c"]]},{"id":"7fac1c9c.22ce3c","type":"http response","z":"e0d8860d.c57868","name":"","x":728.5,"y":445,"wires":[]}]